/*---------------- css-demo -----------------*/

/*  ---- Color Scheme ---- */
   /* --------- #1F1647 Darker-------*/
   /* --------- #9F8CF5 Lighter ------*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body{
  font-family: "Roboto", sans-serif;
}

main{}

header.primary{
    background-color: #3b638b;
    color: #ffffff;
    text-align: center;
    text-shadow:1px 1px #000000;
}