/*---------------- css-demo -----------------*/

/*  ---- Color Scheme ---- */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body{
    font
}

main{}

header.primary{
    background-color: #3b638b;
    color: #ffffff;
    text-align: center;
    text-shadow:2px 2px #000000;
}