/*---Home Page---*/
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

  /*---  Utility Classes ---*/

  .container{
    width:95vw;
    max-width: 1200px; ;
    margin:40px auto;
   }

    .spacer{
        border-bottom:2px solid #FFA07A;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

  /*--------global------------*/
body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin:0;
    color: #ffffff;
    background-color:#1F1647;
}

a{
    color: red;
}

/*----- header -----*/
header.primary{
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #42347F;
}

header.primary nav ul{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    padding: 0;
}

header.primary nav ul li{
    list-style-type: none;
}

header.primary nav ul li a{
    text-decoration: none;
    border:1px solid #c0c0c0;
    padding: 5px;
    background-color: rgba(0,0,0,.40);
    border-radius: 10px;

    display: flex; /* Make the link itself a flexbox container */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    height: 20px; /* Set a fixed height for all boxes */
    min-width: 200px; /* Ensure minimum width for smaller texts */
}

header.primary nav ul li a:hover{
    color:#ffffff;
}


/*---- projects ----*/

#projects h2{
    text-align: center;
    border-bottom:2px solid #FFA07A;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


/*--- article assignments ---*/
article#assignments h2{
    text-align: center;
    padding-bottom: 20px;
}

article#assignments .gallary figure {
    margin: 0;                /* Remove default margins */
    padding: 0;               /* Remove default padding */
    display: inline-block;     /* Keep it as inline-block for image fitting */
    background-color: transparent;  /* Remove background color */
}

article#assignments .gallary img {
    width: 300px;
    height: auto; 
    display: block;  /* Removes extra inline spacing */
    transition: transform 0.3s ease; /* Smooth transition for hover scaling */
    margin: 0 auto;  /* Center the image initially */
    transform-origin: left center; /* Make the image expand to the right */
}

article#assignments .gallary img:hover {
    transform: scale(2); /* Scales the image by 1.2 times on hover */
}



/*--- Media Queries ---*/
@media screen and (max-width: 38em) {
    header.primary nav ul {
        flex-direction: column;
        gap: 10px;
        max-width: 200px;
        margin: 10px auto;
    }
}

/*----- Checking for high density phone displays -----*/
@media screen and (min-resolution: 2dppx) {
    header.primary nav ul {
        flex-direction: column;
        gap: 10px;
        max-width: 200px;
        margin: 10px auto;
    }

    header.primary nav ul li a {
        height: 1.2em;
        font-size: 1.2em;
}
